
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isUserAuthenticated(request) {
      return request.auth != null;
    }

    function isUserAdmin(request) {
      return isUserAuthenticated(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    match /users/{userId} {
      allow read, update: if isUserAuthenticated(request) && request.auth.uid == userId;
      allow create: if isUserAuthenticated(request) && request.auth.uid == userId;
      allow list, get, update: if isUserAdmin(request);
    }
    
    match /users/{userId}/{document=**} {
       allow read, write: if isUserAuthenticated(request) && request.auth.uid == userId;
       allow read, write: if isUserAdmin(request);
    }
    
    match /platform_settings/{docId} {
        allow get: if isUserAuthenticated(request);
        allow write: if isUserAdmin(request);
        allow list: if isUserAdmin(request);
    }
  }
}
